# bootstrap-secret.yaml.template
apiVersion: v1
kind: Secret
metadata:
  name: bootstrap-token-${BOOTSTRAP_TOKEN_ID}
  namespace: kube-system
type: bootstrap.kubernetes.io/token
stringData:
  token-id: "${BOOTSTRAP_TOKEN_ID}"
  token-secret: "${BOOTSTRAP_TOKEN_SECRET}"
  expiration: "${BOOTSTRAP_TOKEN_EXPIRATION}"
  usage-bootstrap-authentication: "true"
  usage-bootstrap-signing: "true"
