imagePullSecrets: []
imagePullPolicy: IfNotPresent

##  if unspecified, will use built-in variable `.Release.Namespace`.
namespace:
yurtManager:
  # settings for log print
  log:
    # log level for yurt-manager
    level: 4
  replicas: 2
  image:
    repository: openyurt/yurt-manager
    tag: latest
  webhook:
    port: 10270
  metrics:
    port: 10271
  # format should be "foo,-bar,*"
  controllers: ""
  # format should be "foo,*"
  disableIndependentWebhooks: ""
  healthProbe:
    port: 10272
  # resources of yurt-manager container
  resources:
    limits:
      cpu: 2000m
      memory: 1024Mi
    requests:
      cpu: 100m
      memory: 256Mi
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node-role.kubernetes.io/master
                operator: Exists

yurtHub:
  cacheAgents: ""
  bootstrapFile: "/var/lib/yurthub/bootstrap-hub.conf"
  yurthubServerAddr: "127.0.0.1"
  Image:
    registry: registry.cn-hangzhou.aliyuncs.com/openyurt
    repository: yurthub
    tag: latest

poolCoordinator:
  apiserverSecurePort: 10270
  apiserverImage:
    registry: registry.k8s.io
    repository: kube-apiserver
    tag: v1.22.0
  apiserverResources:
    requests:
      cpu: 250m
  serviceClusterIPRange: 10.96.0.0/12
  etcdPort: 12379
  etcdMetricPort: 12381
  etcdImage:
    registry: registry.k8s.io
    repository: etcd
    tag: 3.5.0-0
  etcdResources:
    limits:
      cpu: 200m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi
