
imagePullSecrets: []

yurtControllerManager:
  replicaCount: 1
  tolerations: []
  image:
    registry: docker.io
    repository: openyurt/yurt-controller-manager
    pullPolicy: IfNotPresent
    tag: v1.2.0

poolCoordinator:
  apiserverSecurePort: 10270
  apiserverImage:
    registry: k8s.gcr.io
    repository: kube-apiserver
    pullPolicy: IfNotPresent
    tag: v1.22.0
  apiserverResources:
    requests:
      cpu: 250m
  serviceClusterIPRange: 10.96.0.0/12
  etcdPort: 12379
  etcdMetricPort: 12381
  etcdImage:
    registry: k8s.gcr.io
    repository: etcd
    pullPolicy: IfNotPresent
    tag: 3.5.0-0
  etcdResources:
    limits:
      cpu: 200m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi

admissionWebhooks:
  service:
    type: ClusterIP
    port: 9443
  failurePolicy: Fail
  certificate:
    mountPath: /tmp/k8s-webhook-server/serving-certs
  names:
    validatingWebhookName: vpoolcoordinator.openyurt.io
    mutatingWebhookName: mpoolcoordinator.openyurt.io
    webhookPodValidatingPath: /pool-coordinator-webhook-validate
    webhookPodMutatingPath: /pool-coordinator-webhook-mutate

yurtHub:
  cacheAgents: ""
