name: Backport
on:
  pull_request_target:
    types:
      - closed
  issue_comment:
    types:
      - created

jobs:
  # align with kubevela's choice https://github.com/oam-dev/kubevela/blob/master/.github/workflows/back-port.yaml
  build:
    name: Create backport PRs
    runs-on: ubuntu-22.04
    permissions:
      contents: write # so it can comment
      pull-requests: write # so it can create pull requests
    if: >
      (
        github.event_name == 'pull_request' &&
        github.event.pull_request.merged
      ) || (
        github.event_name == 'issue_comment' &&
        github.event.issue.pull_request &&
        contains(github.event.comment.body, '/backport')
      )
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Create Backport PR
        uses: zeebe-io/backport-action@v3.2.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          github_workspace: ${{ github.workspace }}